/vendor/
.env
/node_modules/
/public/storage
/storage/*.key
/storage/app/public
/storage/framework/cache/data
/storage/logs
/storage/framework/sessions
/storage/framework/views
.DS_Store
Thumbs.db
.idea
*.sublime-project
*.sublime-workspace
*.vscode
*.log
*.swp
*.bak
*.tmp
*.local
*.env.local
*.env.development.local
*.env.test.local
*.env.production.local
.phpunit.result.cache
.php_cs.cache
.php_cs.dist
./output